services/web/.pnp.*
services/web/.yarn
services/web/public/LICENSE
services/web/public/fonts
services/web/public/js
services/web/public/manifest.json
services/web/public/stylesheets
services/web/public/vendor
